@font-face {
  font-family: BergenTextBold;
  src: url('./assets/fonts/BergenText-Bold.otf');
}
@font-face {
  font-family: BergenText;
  src: url('./assets/fonts/BergenText-Regular.otf');
}
@font-face {
  font-family: BergenTextSBold;
  src: url('./assets/fonts/BergenText-SemiBold.otf');
}
div > h1,
h3,
h2,
body,
p {
  font-family: BergenText;
  /* margin: 0; */
  /* line-height: 1; */
}
body,
html,
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.box-shadow {
  box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
  box-shadow: 0 0 15px 9px #00000096;
  background: #333333;
  color: #e0e0e0;
}
